@brown-0: #fff6ec;
@brown-1: #ffedd8;
@brown-2: #e7bc91;
@brown-3: #bc8a5f;
@brown-4: #8b5e34;
@brown-5: #603808;
@brown-6: #3d2201;

@purple-0: #efebf2;
@purple-1: #dfd6e7;
@purple-2: #beadce;
@purple-3: #9e84b6;
@purple-4: #753aad;
@purple-5: #5c3285;
@purple-6: #3c096c;

@red-0: #fbeef8;
@red-1: #f6ddf0;
@red-2: #e7b2c0;
@red-3: #d78890;
@red-4: #c65b59;
@red-5: #b83230;
@red-6: #5c1918;

@green-0: #c8fff8;
@green-1: #a0e5dc;
@green-2: #78cac0;
@green-3: #50b0a4;
@green-4: #289588;
@green-5: #007b6c;
@green-6: #005248;

@yellow-0: #fef6cd;
@yellow-1: #fbec9b;
@yellow-2: #fad936;
@yellow-3: #fac50d;
@yellow-4: #fdaf20;
@yellow-5: #ff9933;
@yellow-6: #c35527;

@blue-0: #a0d7ff;
@blue-1: #47b3ff;
@blue-2: #008ff5;
@blue-3: #0079cf;
@blue-4: #006bb8;
@blue-5: #004b7f;
@blue-6: #003052;

@blue-grey-0: #dae8f4;
@blue-grey-1: #accae5;
@blue-grey-2: #87a7c3;
@blue-grey-3: #6989a5;
@blue-grey-4: #4c677f;
@blue-grey-5: #3d5265;
@blue-grey-6: #2e3e4c;

@grey-0: #ffffff;
@grey-1: #f9f9f9;
@grey-2: #e6e7e8;
@grey-3: #bcbec0;
@grey-4: #747678;
@grey-5: #323232;
@grey-6: #000000;
